section{
    background-image: url("/img/Botones y Fondos/Asset 88.png");
    border: black solid;
    width: 1080px;
    height: 2160px;
    text-align: center;
    position: relative;    
}

h1{ 
    position: absolute;
    left: 290px;
    text-align: center;
    font-size: 100px; 
}

.oculto{
    display: none;
}

html, body, div, p, h2, a, ul, li, img {
    margin: 0px;
    padding: 0px;
    font-size: 100px; 
}

.fondoUno{
    background-image: url("/img/Botones y Fondos/Asset 87.png");
}

.botonImagen{
position: absolute;
cursor: pointer;
z-index: 5;
}

#botonJugar{
    left: 700px;
    top: 1330px;
}

#botonHome{
    position: relative;
    left: auto;
    top: 100px;
}

#botonInstrucciones{
    left: 100px;
    top: 1330px;
}
#botonCreditos{
    left: 100px;
    top: 1510px;
}

/*
.loader {
  border: 16px solid #f3f3f3; 
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
*/
.botonesHome{
    position: absolute;
}

.botones{
    position: absolute;
    width: 1060px;
    height: 500px;
    left: 0px;
    top: 1460px;
    text-align: center;
    color: #2B2449;
    z-index: 2;
}

.botones2{
    position: relative;
    width: 1060px;
    height: 500px;
    left: 0px;
    top: 1200px;
    text-align: center;
    color: #2B2449;
}

.botonrpta{
    width: 65%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: #2B2449;
}

#logoEstrella{
    position: relative;
    left: auto;
    top: 50px;
}

#logoCategorias{
    position: absolute;
    width: 800px;
    height: 800px;
    left: 145px;
    top: 400px;
    background: red;
    text-align: center;
    border-radius: 50%;
    
}

#interfaz{
    position: absolute;
    left: 115px;
    top: 400px;
}

#botonSig{
    position: relative;
    left: auto;
    top: 1545px;
}

#barrita{
    position: relative;
    left: auto;
    top: 1530px;
}

button{
    background-color: #FFE45F;
    border-radius: 10%;
  border: none;
  color: #2B2449;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 100px;
  margin: 4px 2px;
  cursor: pointer;
}

.genero1{
    text-align: justify;
    margin-bottom: 100px;
    left: 200px;
    padding: 15px 32px;
    width: 80%;
}

#volver{
    position: relative;
    top: 900px;
}

#categorias{
    margin-bottom: 200px;
    top: 200px;
}

#fondoCreditos{
    position: absolute;
    left: 45px;
    top: 50px;
    
}

#equipo{
    position: absolute;
    top: 300px;
}

.nombreInd{
    margin-bottom: 100px;
}

.botonCategorias{
    position: relative;
    margin-top: 30px;
    cursor: pointer;
}

#fondoAzulCat{
    position: absolute;
    left: 2px;
}

#estrellaPuntajeTotal{
    position: relative;
    z-index: 10;
    left: auto;
    top: 60px;
    width: 40%;
}

#logo{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 290px;
    top: 780px;
    background: red;
    text-align: center;
    font-size: 200px;
}

#logoPrincipal{
    position: absolute;
    left: 2.2%;
    top: 24%;
    z-index: 1;
}

#fondoAzul{
    position: absolute;
    left: 2px;
    top: 1637px;
    z-index: 1;
}

#estrellas{
    position: absolute;
    left: 2.2%;
    top: 20%;
    z-index: 0;
}


.circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    padding: 100px;
    margin-top: 100px;
    margin-left: 400px;
  }

.circle_cat{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    padding: 100px;
    margin-top: 100px;
    margin-left: 400px;
}