
section{
    background: lightsalmon;
    border: black solid;
    width: 1080px;
    height: 2160px;
    text-align: center;
    position: relative;
    display: block;
   
}

h1{
    display: inline; 
    font-size: 100px; 
}

html, body, div, p, h2, a, ul, li, img {
    margin: 0px;
    padding: 0px;
    font-size: 100px; 
}

#home{
    
    background-color: lightskyblue;
}

#logo{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 290px;
    top: 830px;
    background: red;
    text-align: center;
    font-size: 200px;
}

#logo2{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 290px;
    top: 800px;
    background: red;
    text-align: center;
    font-size: 200px;
}