section{
    background: #FFF3DD;
    border: black solid;
    width: 1080px;
    height: 2160px;
    text-align: center;
    position: relative;    
}

h1{ 
    position: absolute;
    left: 290px;
    text-align: center;
    font-size: 100px; 
}

.oculto{
    display: none;
}

html, body, div, p, h2, a, ul, li, img {
    margin: 0px;
    padding: 0px;
    font-size: 100px; 
}

.botones{
    position: absolute;
    width: 1060px;
    height: 500px;
    left: 0px;
    top: 1460px;
    text-align: center;
    color: #2B2449;
}

.botones2{
    position: relative;
    width: 1060px;
    height: 500px;
    left: 0px;
    top: 1200px;
    text-align: center;
    color: #2B2449;
}

.botonrpta{
    width: 65%;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    color: #2B2449;
}

#logoCategorias{
    position: absolute;
    width: 800px;
    height: 800px;
    left: 145px;
    top: 400px;
    background: red;
    text-align: center;
    border-radius: 50%;
    
}

button{
    background-color: #FFE45F;
    border-radius: 10%;
  border: none;
  color: #2B2449;
    padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 100px;
  margin: 4px 2px;
  cursor: pointer;
}

.genero1{
    text-align: justify;
    margin-bottom: 100px;
    left: 200px;
    padding: 15px 32px;
    width: 80%;
}

#volver{
    position: relative;
    top: 900px;
}

#categorias{
    margin-bottom: 200px;
    top: 200px;
}

#home{
    background: #FFF3DD;
}

#logo{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 290px;
    top: 780px;
    background: red;
    text-align: center;
    font-size: 200px;
}

#logo2{
    position: absolute;
    width: 500px;
    height: 500px;
    left: 290px;
    top: 780px;
    background: red;
    text-align: center;
    font-size: 200px;
}


.circle {
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    padding: 100px;
    margin-top: 100px;
    margin-left: 400px;
  }

.circle_cat{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    padding: 100px;
    margin-top: 100px;
    margin-left: 400px;
}